@import 'utils/index';
@import 'vars';
@import 'typo';
/* @import 'https://unpkg.com/swiper@5.3.1/css/swiper.min.css'; */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--color);
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

/* purgecss start ignore */
.wysiwyg {
  a { text-decoration: underline; }
  p:not(:last-child) {  }
}
/* purgecss end ignore */

.max-w-head { max-width: 8em }
.max-w-textbox { max-width: 28em }
.max-w-textbox.t-lg { max-width: 22em }



